{% load static %}
<style>
    .btn-default {
        display: none;
    }
</style>
<header>
    <h1>KRITIC</h1>
    <form class="navbar-form" role="search" action="{% url 'search' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="project">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"></button>
            </div>
        </div>
    </form>
    <nav>
        <a href="{% url 'home' %}"><i class='fas fa-house-user'></i></a>
        <a href="{% url 'upload' %}"><i class='fas fa-folder-plus'></i></a>
        <div id="user">
            {% for item in users %}
            <a href="{% url 'profile/{{item.id}}' %}">{% endfor %}
                <img src="{{user.profile.photo.url}}">
            </a>
        </div>
    </nav>
</header>