{% load static %}
<style>
.material-symbols-outlined {
    width: 70px;
    padding: 0px;
  font-variation-settings:
  'FILL' 100,
  'wght' 4000,
  'GRAD' 0,
  'opsz' 48;
}

</style>
    .btn-default {
        display: none;
    }
</style>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>
<header>

    <h1>KRITIC</h1>
    <form class="navbar-form" role="search" action="{% url 'search' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="project">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"></button>
            </div>
        </div>
    </form>
    <nav>
        <a href="{% url 'home' %}"><span class="material-symbols-outlined"> home</span></a>
        <br>
        <hr>
        <a href="{% url 'upload' %}"><span class="material-symbols-outlined">
            upload
        </span>
        </a>
            <div class="user">
                {% for item in person %}
                <a href="profile/{{item.id}}"> {% endfor %}
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                </a>
            </div>
    </nav>
</header>