{% extends 'base.html' %} {% load static %}{% load bootstrap4 %} {% load crispy_forms_tags %}

<!--  -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'project.css' %}"> {{bootstrap_css}} {% endblock %}
<!--  -->
{% block content %}
<main>
    {% for item in post %}
    <div class="feature">
        <h3><u>{{item.title}}</u></h3>
        <a href="{{item.link_url}}" target="_blank">
            <img class="image" src="{{item.image.url}}" alt="{{item.title}}" width=70%>
        </a>
        <p>{{item.description}}</p>

        <hr>

        <div>
            <form action="#" method="POST" class="row">
                <h2>VOTING FORM</h2>
                {%csrf_token%}
                <div class="row">
                    <div class="col-md">
                        {{ form.design|as_crispy_field:"bootstrap" }}
                    </div>
                    <br>
                    <div class="col">
                        {{ form.usability|as_crispy_field:"bootstrap" }}
                    </div>
                    <br>
                    <div class="col">
                        {{ form.content|as_crispy_field:"bootstrap" }}
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success" value="Post">
            </form>
            <hr>

            {% if average %} {% for total in average %} {{total.avg_interface}} {{total.avg_experience}} {{total.avg_content}} {% endfor %} {% else %}
            <p>You are yet to vote on this project</p> {% endif %}
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}

<!--  -->
{% block scripts %}{{block.super}} {{bootstrap_javascript}} {% endblock %}