{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register • Instaclone</title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico"> {% block styles %} {{bootstrap_css}} {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 login walk">
                <h1>REGISTER</h1>
                <form action="/accounts/register/" method="post">
                    {% csrf_token %} {% for field in form %}
                    <input id="{{ field.id_for_label }}" placeholder="{{field.name|title}}" type="text" name="{{ field.html_name }}"> {{ field.errors }} {% endfor %}

                    <input type="submit" value="Create Account"><br>
                    <input type="hidden" name="next" value="{{next}}">
                </form>

                <div class="infobox">
                    <p>Already have an account? <a href="/accounts/login">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <!--  -->
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    {{bootstrap_javascript}} {% endblock %}
</body>

</html>